<p id="notice"><%= notice %></p>

<h1>Podcasts</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Mp3</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
        <td><%= link_to podcast.title, podcast_path(podcast) %></td>
        <td><%= link_to 'Download', podcast_download_path(podcast) %></td>
        <td><%= podcast.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
